/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --bacground-color: #F8F9FE;
    --title-color: #151827;
    --primary-color: #680262;
    --body-color: #85859B;
    --stroke-color: #CFD1DD;
    --white-color: #FFF;

}