/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 

@import '../../../global-styles/style.scss';


#home-page {
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    align-items: center;

}

.heading {

    &-1{
        margin: 0;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0%;
    }

    &-2 {
        margin: 0;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        letter-spacing: 0;
    }

}

.text {

    &-1 {
        margin: 16px 0 0 0;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -1%;
        color:  var(--body-color);
    }

    &-2 {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: -1%;
        color:  var(--body-color);
    }


}


.card-container {
    background-color: var(--white-color);
    width: 460px;
    height: 665px;
    margin: auto auto;
    border-radius: var(--border-radius-card) ;
    &__image {
        img{
        width: 100%;
        height: auto;
        border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
        }
        
    }

    &__summary {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        & &__title {
            text-align: center;
            margin:  0 39.5px;
        }


        & &__product {
            display: grid;
            grid-template-columns: 100px auto 100px;
           // display: flex;
           height: 83px;
            background-color: var(--background-color);
            border-radius: var(--border-radius-card);
            margin: 0 16px;
            flex-direction: row;
            align-items: center;

            &__image {

                //height: 100%;
                border-right: 1px solid var(--stroke-color);
                img {
                    display: block;
                    padding: 10px 0;
                    margin: auto;
                }
            }

            &__text {
                //display: flex;
                //flex-direction: column;
                //justify-content: center;
                margin: 0 0 0 32px;
            }

            &__btn {
                text-align: right;
                margin-right: 32px;
            }
        }
    }

    & &__btn {
        display: flex;
        background-color: var(--primary-color);
        color:  var(--white-color);
        border-radius: var(--border-radius-card);
        justify-content: center;
        align-items: center;
        margin: 32px 16px 0 16px;
        height: 56px;
        width: auto;

     }

     &__btn:hover {
        background-color: var(--primary-color-hover);
        
     }
}