@import "/src/global-styles/style.scss";
@import "components/card.scss";
@import "components/plan.scss";
@import "components/button.scss";
@import "components/spinner.scss";

.home-page-container {
  //height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}
