@import "../mixins/mixins.scss";

.bnt-container {
  padding: 32px 16px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  & &__button {
    transition: all 0.3s;
    display: flex;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: var(--border-radius-card);
    justify-content: center;
    align-items: center;
    height: 56px;
    width: auto;
    cursor: pointer;
  }

  & &__button:hover {
    background-color: var(--primary-color-hover);
  }
  & &__button-desc {
    @include btn-fonts;
  }
  & &__cancel {
    @include btn-fonts;
    text-align: center;
    text-underline-offset: 5px;
    a {
      color: var(--title-color);
    }
  }

  & &__cancel:visited {
    a {
      color: var(--title-color);
    }
  }

  @media (max-width: 992px) {
    & &__cancel {
      font-size: 14px;
      line-height: 20px;
      text-underline-offset: 2px;
    }
  }
}
